@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('../../../../public/fonts/Gilroy-ExtraBold.otf');
}

// Var Config
$backgroundPrimary: #1C1C21;
$backgroundSecondary: #18181D;
$backgroundHover: #323237;
$altHover: #2c2c32;
$backgroundAlt: #232328;

//////////////////////////////////////////////////
///////////////       HOME       /////////////////
//////////////////////////////////////////////////
@import './components/_home';

//////////////////////////////////////////////////
///////////////       FORUMS       ///////////////
//////////////////////////////////////////////////
@import './components/_forums';

//////////////////////////////////////////////////
///////////////       STORE       ////////////////
//////////////////////////////////////////////////
@import './components/_store';

//////////////////////////////////////////////////
///////////////       GLOBALS       //////////////
//////////////////////////////////////////////////
@import './components/_misc';
@import './components/_rewrites';
@import './components/_bans';

.bg-primary-accent {
  background-color: var(--Accent_Color) !important;
}



.answers {
  .progress {
    height: 30px;
    border-radius: .25rem;
    background-color: $backgroundHover;
    .progress-bar {
      color: white !important;
      font-size: 0.85rem;
      text-transform: uppercase;
    }

  }
  .progressSort {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}


